@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url(img/sushicorona.png) no-repeat center center;
 
}
img{
    width: 60%;
    float: left;
}

a{
    text-decoration: none;
    color: white;
}
.container{
    width: 100vw;
    height: 90vh;

}

.container .title{
    margin: 5vh auto 0 auto;

}
.container .title h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.container .title p{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 4px;
}
.container .link{
    margin-top: 3.5pc;
    width: 100%;
}
.container .link .a{
    width: 100%;
    margin: 5vh auto;
}
.container .kotak{
    border: 2px solid rgb(24, 24, 24);
    background: rgb(24, 24, 24);
    margin: 0 auto;
    margin-top: 5vh;
    box-shadow: 5px 5px rgb(46, 46, 46);
    transition: 0.5s;
    width: 80%;
}
.container .kotak:hover{
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(87, 87, 87);
    color: black;
}
.container .kotak .img{
    width: 60px;
    height: 60px;
    /* border: 2px solid red; */
    margin-top: 0.5pc;
    margin-left: 0.5pc;
    transition: 0.3s;
}
.container .kotak .img:hover{
    transform: rotate(30deg);
}
.container .kotak .tautan{
 
    /* border: 2px solid red; */
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.5s;
}

.container .kotak .tautan:hover{
    letter-spacing: 20px;
}
.container .link .a .kotak .tautan .ig:hover{
    color: red;
}
.container .link .a .kotak .tautan .sama:hover{
    color: rgb(0, 99, 228);
}   
.container .link .a .kotak .tautan .wa:hover{
    color: green;
}
.container .link .a .kotak .tautan .ytb:hover{
    color: rgb(255, 1, 77);
    margin-top: 1pc;
    margin-left: -3.4pc;
}
.container .link .a .kotak .tautan .dc:hover{
    color: rgb(0, 204, 255);
}
footer{
    text-align: center;
    margin-top: 6pc;
}
@media only screen and (max-width:600px) {
    img{
        width: 60%;
    }
    .container .link .a{
      margin: 0 0 0 5vw
    }
    .container .kotak{
        width: 80%;
        height: 7vh;
        margin: 0 auto;
        display: inline-block;

    }
    .container .kotak .tautan{
        margin: 0 auto;
       
    }
    footer{
        text-align: center;
        bottom: 0;
    }
}




