* {
    margin: 0 auto;
    padding: 0;
}

html {
    background-image: linear-gradient(45deg, red 0 50%, rgb(255, 255, 255) 20% 100%);
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(32, 79, 167, 0.671);
    min-height: 918px;
    border-radius: 30px;
    margin: 20px auto;
}

th {
    border: 1px solid rgb(34, 6, 190);
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(211, 8, 8);
    padding: 10px;
}