<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Css Ricardo-->
    <link rel="stylesheet" href="css/estilo.css">
    <!-- Fonts Google
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800%7CABeeZee:regular,italic&amp;display=swap">-->
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Fawoo Sushi</title>
    <!-- Scripts-->

</head>

<body>
    <div class="row">
        <div class="bsocial">
            <ul>
                <li>
                    <a style="background-color:blue " href="https://www.facebook.com/Fawoo-Sushi-100452385800539/" class="icon-facebook" target="blank"></a>
                </li>
                <li>
                    <a style="background-color: #11c511 ;color: rgb(253, 253, 253);" href="https://wa.me/+56949398254" class="icon-whatsapp" target="blank"></a>
                </li>
                <li>
                    <a style="background-color: #ce0d0d;" href="https://www.instagram.com" class="icon-instagram" target="blank"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../img/promotempura.png" style="width:100vw ; height: ;" alt="">
        </div>
        <div class="col">
            <img src="../img/cata.jpeg" alt="" style="width:100vw ; height: 50vh;">
        </div>
        <div class="col">
            <img src="../img/" alt="" style="width:100vw ; height: 50vh;">
        </div>
    </div>

</body>

</html>