<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Detalles</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="../img/hero.png" rel="icon" />
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- CSS-->
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="../index.html" class="navbar-brand">RicardoInacap</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="../index.html" class="nav-item nav-link active">Inicio</a>
                    <a href="#service" class="nav-item nav-link">Servicios</a>
                    <a href="#experience" class="nav-item nav-link">Skills</a>
                    <a href="../templates/detalles.html" class="nav-item nav-link">Detalles</a>
                    <a href="../templates/galeria.html" class="nav-item nav-link">Galeria</a>
                    <a href="#team" class="nav-item nav-link">Equipo</a>
                    <a href="../templates/contacto.html" class="nav-item nav-link">Contacto</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <div>
        <div class="container centro">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Detalles</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../img/portfolio-1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>NtebookAzul</h4>
                                    <p>
                                        Se Vende MegaUltraRapido Computador De Color Azul Brillante Agil Y Flexible De Alta Gama Con Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        Posee Los Mejores Componentes De Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        El Valor Del Producto Es De $1.000.000

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Detalles</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../img/portfolio-1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>NtebookAzul</h4>
                                    <p>
                                        Se Vende MegaUltraRapido Computador De Color Azul Brillante Agil Y Flexible De Alta Gama Con Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        Posee Los Mejores Componentes De Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        El Valor Del Producto Es De $1.000.000

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Detalles</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../img/portfolio-1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>NtebookAzul</h4>
                                    <p>
                                        Se Vende MegaUltraRapido Computador De Color Azul Brillante Agil Y Flexible De Alta Gama Con Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        Posee Los Mejores Componentes De Intel Core i5-1035G1, 8GB De Ram, 1TB De Disco Duro, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home, Windows 10 Pro, Windows 10 Home,
                                    </p>
                                    <p>
                                        El Valor Del Producto Es De $1.000.000

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <!-- Footer Inicio -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <h2>Ricardo Rojas</h2>
                    <h3>Camino A Tutuquen , Curico</h3>
                    <div class="footer-menu">
                        <p>+56942869977</p>
                        <p>ricardo.rojas53@inacapmail.cl</p>
                    </div>
                    <div class="footer-social">
                        <a href="https://twitter.com/Ricardo92203970"><i style="color: aqua;" class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/RicardoRojasRRR"><i style="color: blue;" class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/channel/UC6I3uaV6S5PGfygqGwdZrEQ"><i style="color: red;" class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/"><i style="color: rgb(180, 29, 67);" class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/ricardo-rojas-186178192/"><i style="color:blue" class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>
                    <a href="#">RicardoInacap</a>, Todos Los Derechos Reservados | Designed By <a href="https://htmlcodex.com">RG</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to top button -->
    <a href="../index.html" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
</body>

</html>