<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Ricardo.Inacap</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="../img/hero.png" rel="icon" />
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- CSS-->
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="../index.html" class="navbar-brand">RicardoInacap</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="../index.html" class="nav-item nav-link active">Inicio</a>
                    <a href="../templates/detalles.html" class="nav-item nav-link">Detalles</a>
                    <a href="../templates/galeria.html" class="nav-item nav-link">Galeria</a>
                    <a href="../templates/contacto.html" class="nav-item nav-link">Contacto</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <div>
        <div class="container centro">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Galeria</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../img/portfolio-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Ver Mas Fotos De Galeria</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../img/portfolio-2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Ver Mas Fotos De Galeria</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <img src="../img/portfolio-3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Ver Mas Fotos De Galeria</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <!-- Footer Inicio -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <h2>Ricardo Rojas</h2>
                    <h3>Camino A Tutuquen , Curico</h3>
                    <div class="footer-menu">
                        <p>+56942869977</p>
                        <p>ricardo.rojas53@inacapmail.cl</p>
                    </div>
                    <div class="footer-social">
                        <a href=""><i style="color: aqua;" class="fab fa-twitter"></i></a>
                        <a href=""><i style="color: blue;" class="fab fa-facebook-f"></i></a>
                        <a href=""><i style="color: red;" class="fab fa-youtube"></i></a>
                        <a href=""><i style="color: rgb(180, 29, 67);" class="fab fa-instagram"></i></a>
                        <a href=""><i style="color:blue" class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">7
                <p>
                    <a href="#">RicardoInacap</a>, Todos Los Derechos Reservados | Designed By <a href="https://htmlcodex.com">RG</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Javascript -->
    <script src="../js/main.js"></script>
</body>

</html>